In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv('/home/AIML_Student/Desktop/2030B/hepatitis_csv.csv')
data

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [2]:
#Q1_2
#count number of null values in each column
nullCount=data.isna().sum()
nullCount

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

In [3]:
#protime has 67 NaN/Null values out of 155 rows. so drop the column
data.drop(['protime'],axis=1,inplace=True)
data

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,True,die

In [4]:
#Q1_3
#deleting rows with null values
data.dropna(inplace=True)
data

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,False,live
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,False,live
10,39,female,False,True,False,False,False,False,True,False,False,False,False,1.3,78.0,30.0,4.4,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,36,female,True,False,False,False,False,True,False,False,False,False,False,0.6,120.0,30.0,4.0,True,live
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,True,die

In [5]:
#check if there are any null values
nullCount=data.isna().sum()
nullCount

age                0
sex                0
steroid            0
antivirals         0
fatigue            0
malaise            0
anorexia           0
liver_big          0
liver_firm         0
spleen_palpable    0
spiders            0
ascites            0
varices            0
bilirubin          0
alk_phosphate      0
sgot               0
albumin            0
histology          0
class              0
dtype: int64

In [6]:
#Q1_4
dummy=pd.get_dummies(data['sex'])
dummy

     female  male
0         0     1
1         1     0
2         1     0
5         1     0
10        1     0
..      ...   ...
149       1     0
151       1     0
152       1     0
153       0     1
154       1     0

[112 rows x 2 columns]

In [7]:
data=pd.concat([data,dummy],axis=1)
data.drop(['sex'],axis=1,inplace=True)
data

,age,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,histology,class,female,male
0,30,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,False,live,0,1
1,50,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,False,live,1,0
2,78,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,False,live,1,0
5,34,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,False,live,1,0
10,39,False,True,False,False,False,False,True,False,False,False,False,1.3,78.0,30.0,4.4,False,live,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,36,True,False,False,False,False,True,False,False,False,False,False,0.6,120.0,30.0,4.0,True,live,1,0
151,44,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,True,live,1,0
152,61,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,True,live,1,0
153,53,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,True,live,0,1
154,43,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,True,die,1,0

In [8]:
#Q1_5
#check if there are any missing values in the data
data.isnull().values.any()

False

In [9]:
#Q1_6
#convert dataframe into numpy 
array=data.to_numpy()
array

array([[30, False, False, ..., 'live', 0, 1],
       [50, False, False, ..., 'live', 1, 0],
       [78, True, False, ..., 'live', 1, 0],
       ...,
       [61, False, False, ..., 'live', 1, 0],
       [53, False, False, ..., 'live', 0, 1],
       [43, True, False, ..., 'die', 1, 0]], dtype=object)

In [10]:
data.replace('live',1,inplace=True)

In [11]:
data.replace('die',0,inplace=True)
data

,age,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,histology,class,female,male
0,30,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,False,1,0,1
1,50,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,False,1,1,0
2,78,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,False,1,1,0
5,34,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,False,1,1,0
10,39,False,True,False,False,False,False,True,False,False,False,False,1.3,78.0,30.0,4.4,False,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,36,True,False,False,False,False,True,False,False,False,False,False,0.6,120.0,30.0,4.0,True,1,1,0
151,44,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,True,1,1,0
152,61,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,True,1,1,0
153,53,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,True,1,0,1
154,43,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,True,0,1,0

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x = data.iloc[:, :-1]
y = data.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.05, random_state=0)

In [13]:
x_train = np.array(X_train).reshape((-1, 1))
#y_train = np.array(y_train).reshape((-1, 1))
#model = LinearRegression().fit(x_train, y_train)

In [14]:
#x_train

In [17]:
model=LinearRegression().fit(X_train,y_train)

In [18]:
r_sq = model.score(x, y)
r_sq

1.0

In [19]:
#b0:
model.intercept_

0.999999999999997

In [21]:
#b1:
model.coef_

array([ 4.61205383e-18,  1.89084859e-16,  3.22494279e-15,  1.81184431e-18,
       -7.08707253e-16,  4.88432933e-16,  4.02507701e-16,  1.69991307e-16,
       -2.08452066e-16, -5.85887098e-17, -3.16918429e-16, -5.43287065e-16,
       -3.71792723e-16,  1.28784640e-17,  2.83234380e-18,  1.71806939e-16,
        1.08227786e-16,  5.53403894e-16, -1.00000000e+00])

In [23]:
y_pred=model.predict(x)
y_pred

array([ 1.00000000e+00, -3.33066907e-16,  0.00000000e+00, -2.22044605e-16,
        2.22044605e-15,  3.10862447e-15,  3.10862447e-15, -5.55111512e-16,
       -1.66533454e-15,  0.00000000e+00, -2.22044605e-16, -5.55111512e-16,
        2.33146835e-15,  1.00000000e+00, -4.44089210e-16, -4.44089210e-16,
       -4.44089210e-16,  1.00000000e+00, -1.11022302e-15,  2.77555756e-15,
        1.00000000e+00, -9.99200722e-16,  2.10942375e-15,  3.77475828e-15,
        1.00000000e+00,  1.00000000e+00, -5.55111512e-16, -1.11022302e-15,
        7.77156117e-16,  1.00000000e+00, -6.66133815e-16,  1.11022302e-16,
        2.77555756e-15, -6.66133815e-16, -5.55111512e-16, -8.88178420e-16,
       -3.33066907e-16,  1.00000000e+00, -6.66133815e-16,  3.33066907e-15,
       -4.44089210e-16, -4.44089210e-16,  4.44089210e-16,  2.77555756e-15,
       -5.55111512e-16,  2.44249065e-15,  1.99840144e-15, -8.88178420e-16,
        0.00000000e+00, -5.55111512e-16,  0.00000000e+00, -7.77156117e-16,
       -8.88178420e-16, -1.11022302e-15, -1.66533454e-15, -3.33066907e-16,
        1.11022302e-16,  1.55431223e-15, -2.22044605e-16,  1.00000000e+00,
       -9.99200722e-16, -2.22044605e-16,  0.00000000e+00, -3.33066907e-16,
        1.00000000e+00, -1.22124533e-15, -1.44328993e-15, -1.88737914e-15,
       -8.88178420e-16,  1.00000000e+00, -1.33226763e-15,  1.99840144e-15,
        0.00000000e+00, -1.77635684e-15, -1.77635684e-15, -3.21964677e-15,
        5.55111512e-16, -3.33066907e-16, -2.77555756e-15,  3.99680289e-15,
       -2.33146835e-15,  1.88737914e-15,  1.44328993e-15, -4.44089210e-16,
       -7.77156117e-16,  2.22044605e-16,  5.55111512e-16, -1.33226763e-15,
       -1.77635684e-15, -1.11022302e-16, -2.22044605e-16,  1.00000000e+00,
       -1.55431223e-15, -1.44328993e-15, -3.44169138e-15, -1.11022302e-16,
        8.88178420e-16,  3.55271368e-15,  1.44328993e-15, -1.11022302e-16,
       -1.11022302e-16, -1.44328993e-15,  2.88657986e-15,  7.77156117e-16,
       -2.10942375e-15, -3.33066907e-16, -2.77555756e-15,  3.33066907e-16,
        8.88178420e-16, -1.44328993e-15,  1.00000000e+00, -1.44328993e-15])